*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f7f2;
    color:#333;
}

.hero{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:80px 20px;
}

nav{
    background:#1b5e20;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

section{
    max-width:1100px;
    margin:auto;
    padding:50px 20px;
}

h2{
    color:#1b5e20;
    margin-bottom:20px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

button{
    margin-top:20px;
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:#2e7d32;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#1b5e20;
}

#contador-area{
    background:#2e7d32;
    color:white;
    text-align:center;
}

#contador{
    font-size:3rem;
    font-weight:bold;
}

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:20px;
}